[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
django = "==3.0.5"
gunicorn = "==20.0.4"
idna = "==2.9"
psycopg2 = "==2.8.5"
pycodestyle = "==2.5.0"
pytz = "==2019.3"
requests = "==2.23.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.8"
whitenoise = "==5.0.1"
django-heroku = "*"
coverage = "*"
node-js = "*"
node = "*"

[requires]
python_version = "3.8"
