{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Site réalisé avec le framework <a href="https://www.djangoproject.com/" 
                                                                target="_blank">Django</a> et hébergé par <a href="https://www.heroku.com/" 
                                                                target="_blank">Heroku</a></p>
                <p class="text-white-75 font-weight-light mb-5">Crédits images : <a href="https://www.pixar.com/" target="_blank">Pixar</a></p>
                <p class="text-white-75 font-weight-light mb-5">Crédits photos : <a href="https://unsplash.com/@kawin" target="_blank">Kawin Harasai</a> / <a href="https://unsplash.com/@olenka_kotyk" target="_blank">Olenka Kotyk</a></p>
            </div>
        </div>
    </div>
</header>

{% endblock %}